{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%} <title>update</title>{%endblock%}
{%block body%}
<div class="row mt-3">
    <div class="col-lg-6 mx-auto bg-primary-subtle ">
        <h4 class="w-100, text-center text-danger">Add student</h4>
        <form action="" method="post" class="form bg-primary-subtle p-3">
            {%csrf_token%}
            {{form|crispy}}
            <button type="submit" class="btn w-100 bg-success">Update</button>
        </form>
    </div>
</div>
{%endblock%}